[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
lxml = "*"
beautifulsoup4 = "*"
pymysql = "*"
sqlalchemy = "*"
aiohttp-jinja2 = "*"
alembic = "*"
pyyaml = "*"
py-postgresql = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
